@charset "utf-8";
/* CSS Document */

/**** Estilos tab *****/
.tab {
    overflow: hidden;
    border: none;
    background-color: #ffffff;
}

/* Estilos botones dentro del tab */
.tab button {
    background-color: #fafafa;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.2em;
	-webkit-box-shadow: inset 0px -4px 12px -6px rgba(0,0,0,0.69);
	-moz-box-shadow: inset 0px -4px 12px -6px rgba(0,0,0,0.69);
	box-shadow: inset 0px -4px 12px -6px rgba(0,0,0,0.69);
}

/* Color de botones en estado hover */
.tab button:hover {
    background-color: #ddd;
}

/* Color del botón activo y con contenido mostrado */
.tab button.active {
	color: #FFFFFF;
    background-color: #00b9b1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* Estilos del contenido mostrado del botón activo */
.tabcontent {
    display: none;
    padding: 60px 30px 30px 30px;
    border: none;
    border-top: none;
    background-color: #fafafa;
	margin-bottom: 60px;
}