
<div class="container animated fadeIn">
	<section class="row">
	<h1 class="subtitulo3"><strong>Agendar una nueva cita</strong></h1>
  <br><br>
  <div style="width: 80%; margin: auto">
		<p class="tituloSC">Por el momento no contamos con el servicio.	</p>
    <p class="tituloSC">por favor intenta más tarde	</p>
	</div>
</section>
</div>
<nav>
	<div style="margin-top: 30px; margin-bottom: 120px">
		<button class="botonBlanco"  style="float: left"
		 type="button" (click)="home()"> Salir</button>
	</div>
</nav>
